.idea
.project
Monolitic/.gitignore
Monolitic/mvnw
Monolitic/mvnw.cmd
Monolitic/pom.xml
Monolitic/.mvn/wrapper/maven-wrapper.jar
Monolitic/.mvn/wrapper/maven-wrapper.properties
Monolitic/src/main/java/com/raj/monolithic/MsMonoliticApp.java
Monolitic/src/main/java/com/raj/monolithic/controller/MainController.java
Monolitic/src/main/resources/application.properties
Monolitic/src/test/java/com/raj/monolithic/MsMonoliticApp.java
